/* ISOCHRON */

div[id^=GPisochron-] {
   /* left: 10px; */
  top: 0; /*overwritten*/
}

/* Showing/hiding isochron panel */

span[id^=GPshowIsochronOpen] {
  background-image: url("img/GPisochronOpen.png");
}

/* General panels */

div[id^=GPisochronPanel-] {
  left: 10px;
}

div[id^=GPisochronPanelClose] {
  background-image: url("img/GPisochronOpen.png");
}

div[id^=GPisochronPanelReduce] {
  background-image: url("img/GPisochronOpen.png");
}

/* Calc waiting */

.GPisochronCalcWaitingContainerVisible,
.GPisochronCalcWaitingContainerHidden {
  border-radius: 5px;
}

/* Isochron form */

.GPisochronChoiceAlt input:checked + label + span {
  color: #C77A04;
}

.GPisochronOriginPointerImg,
.GPisochronChoiceAltImg,
.GPisochronTransportImg {
  background-image: url("img/GPisochronOptions.png");
}

.GPisoExclusionsOption {
  background-image: url("img/GPisochronCheck.png");
}

/* Reset picto */
div[id^=GPisochronReset] {
  background-color: #C77A04;
  background-image: url("img/GPisochronOptions.png");
}
