/* ISOCHRON */

div[id^=GPisochron-] {
  left: 10px;
}

/* Showing/hiding isochron panel */

span[id^=GPshowIsochronOpen] {
  background-image: url("img/GPisochronOpen.png");
  z-index:1;
}

/* General panels */

div[id^=GPisochronPanel-] {
  /*left: 8px;*/
  position: absolute;
  z-index:2;
}

div[id^=GPisochronPanelClose] {
  background-image: url("img/GPisochronOpen.png");
}

/* Calc waiting */

.GPisochronCalcWaitingContainerVisible,
.GPisochronCalcWaitingContainerHidden {
  border-radius: 4px;
}

/* Isochron form */

.GPisochronChoiceAlt input:checked + label + span {
  color: #366291;
}

.GPisochronOriginPointerImg,
.GPisochronChoiceAltImg,
.GPisochronTransportImg {
  background-image: url("img/GPisochronOptions.png");
}

.GPisoExclusionsOption {
  background-image: url("img/GPisochronCheck.png");
}

/* Reset picto */
div[id^=GPisochronReset] {
  background-color: #366291;
  background-image: url("img/GPisochronOptions.png");
}
