/* MEASURELENGTH POSITION */

div[id^=GPmeasureLength-] {
  top: 260px;
  left: 42px;
}

/* Showing/hiding measureLength position panel */

span[id^=GPshowMeasureLengthOpen-] {
  background-image: url("img/GPmeasuresOpen.png");
  background-position: -26px;
}
