/* SEARCH ENGINE */

div[id^=GPsearchEngine-] {
  /* top: 10px; */
  /* left: 46px; */
}

/* Showing/hiding search engine input */

span[id^=GPshowSearchEngineOpen] {
  background-image: url("img/GPsearchEngineOpen.png");
}

/* Simple search input */

form[id^=GPsearchInput-] {
  height: 30px;
}

div[id^=GPsearchInputReset] {
  background-image: url("img/GPsearchEngineClose.png");
}

/* General panels */

div[id^=GPgeocodeResultsClose] {
  background-image: url("img/GPsearchEngineClose.png");
}

div[id^=GPadvancedSearchClose] {
  background-image: url("img/GPsearchEngineOpen.png");
  background-position: -60px 0;
}

/* Advanced search picto */

span[id^=GPshowAdvancedSearchOpen] {
  background-image: url("img/GPsearchEngineOpen.png");
  background-position: -30px 0;
}

/* Autocomplete list / geocode results */

div[id^=GPautoCompleteList],
div[id^=GPgeocodeResultsList] {
  margin-left: 27px;
  box-shadow: 0 1px 5px #000;
}

div[id^=GPgeocodeResultsList] {
  top: 38px;
  border-radius: 5px;
}
