/* General panels */

.GPpanel {
  box-shadow: 0 0 6px #000;
  border-radius: 4px;
}

.GPpanelHeader {
  height: 32px;
  padding: 3px;
  background-color: #9DB1BD;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.GPpanelTitle {
  line-height: 26px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #366291;
  color: #FFF;
}

.GPpanelClose {
  top: 3px;
  right: 3px;
  width: 26px;
  height: 26px;
  background-position: -26px 0;
}

.GPpanelInfo {
  top: 3px;
  left: 3px;
  width: 26px;
  height: 26px;
  background-position: -78px 0;
}

/* Showing/hiding advanced panels */

.GPshowAdvancedToolPicto {
  width: 32px;
  height: 32px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.GPshowAdvancedToolPicto:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.GPshowAdvancedToolOpen {
  width: 26px;
  height: 26px;
  background-color: rgba(0,60,136,0.5);
  border-radius: 2px;
}

.GPshowAdvancedToolPicto:hover .GPshowAdvancedToolOpen {
  background-color: rgba(0,60,136,0.7);
}

/* Submit inputs */

input.GPinputSubmit {
  background-color: #366291;
}

/* Showing additional hidden options */

.GPshowMoreOptionsImage {
  background-image: url("img/GPshowMoreOptions.png");
}

/* Feature info popup */

.gp-feature-info-div {
  bottom: 17px ;
  position: relative;
  max-width: calc(100vw - 80px);
  padding: 10px;
  border-radius: 10px;
  font-size: 0.75em;
  font-family: "Open Sans", sans-serif;
  color: #002A50;
  background-color: #FFF;
  box-shadow: 0 0 5px #000;
}

.gp-feature-info-div::before {
  content: "";
  position: absolute;
  border-top: 15px solid #FFF;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  bottom: -15px;
  margin-left: -14px;
  left: 50%;
}

.gp-feature-info-div .closer {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-image: url("img/close-emeraud.svg");
  background-size: 14px 14px;
  background-position: center;
}

.gp-features-content-div {
  max-width: 420px;
  min-width: 260px;
  max-height: 340px;
  overflow: auto;
}

.gp-features-content-div h5,
.gp-features-content-div h6,
.gp-features-content-div p,
.gp-features-content-div ul {
  margin: 0;
}

.gp-features-content-div ul {
  padding: 0;
  list-style-type: none;
}

.geoportail-popup-content h5,
.geoportail-popup-content h6,
.geoportail-popup-content p,
.gp-att-name-div,
.gp-att-description-div,
.gp-att-others-div {
  padding: 0 10px;
}

.geoportail-popup-content h5:not(:last-child),
.geoportail-popup-content h6:not(:last-child),
.geoportail-popup-content p:not(:last-child),
.gp-att-description-div:not(:last-child),
.gp-att-others-div:not(:last-child) {
  margin-bottom: 15px;
}

.geoportail-popup-content h5:last-child,
.geoportail-popup-content h6:last-child,
.geoportail-popup-content p:last-child,
.gp-att-description-div:last-child,
.gp-att-others-div:last-child,
.gp-att-name-div {
  margin-bottom: 10px;
}

.geoportail-popup-content h5:first-child,
.geoportail-popup-content h6:first-child,
.geoportail-popup-content p:first-child,
.gp-att-name-div:first-child,
.gp-att-description-div:first-child,
.gp-att-others-div:first-child {
  margin-top: 10px;
}

.gp-att-name-div,
.gp-features-content-div h5 {
  padding-right: 35px;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #0B6BA7;
}

.gp-features-content-div h6 {
  font-size: 1.1em;
}

.gp-att-description-div:not(:last-child),
.gp-att-others-div:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px dotted #666;
}
