/* ROUTE */

div[id^=GProute-] {
   /* left: 10px; */
   top: 0; /*overwritten*/
}

.GProuteStageFlexInput {
  margin-bottom: 5px; /*overwritten*/
}

/* Showing/hiding route panel */

span[id^=GPshowRouteOpen] {
  background-image: url("img/GProuteOpen.png");
}

/* General panels */

div[id^=GProutePanel-] {
  left: 10px;
}

div[id^=GProutePanelClose] {
  background-image: url("img/GProuteOpen.png");
}

/* Calc waiting */

.GProuteCalcWaitingContainerVisible,
.GProuteCalcWaitingContainerHidden {
  border-radius: 5px;
}

/* Route form */

.GProuteOriginPointerImg,
.GProuteStageRemove,
div[id^=GProuteStageAdd],
.GProuteTransportImg {
  background-image: url("img/GProuteOptions.png");
}

.GProuteExclusionsOption {
  background-image: url("img/GProuteCheck.png");
}

/* Results panel */

div[id^=GProuteResultsValueDist],
div[id^=GProuteResultsValueTime] {
  color: #C77A04;
}

div[id^=GProuteResultsNew] {
  background-color: #C77A04;
  background-image: url("img/GProuteOptions.png");
}

input[id^=GProuteResultsShowDetails] + label:hover,
input[id^=GProuteResultsShowDetails] + label + label:hover {
  color: #C77A04;
}

.GProuteResultsDetailsHighlight {
    background-color: rgba(255,200,0,0.25);
    color: #222;
}
