/* MOUSE POSITION */

div[id^=GPdrawing-] {
  top: 48px;
  right: 8px;
}

/* Showing/hiding mouse position panel */

span[id^=GPshowDrawingOpen-] {
  background-image: url("img/GPdrawingOpen.png");
}

/* General panels */
div[id^=GPdrawingPanel-] {
    top: 0px;
    right: 0px;
    position: absolute;
}

div[id^=GPdrawingPanelClose-] {
  background-image: url("img/GPdrawingOpen.png");
}

.drawing-tool-section:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.drawing-tool-section {
    padding: 2px 5px 5px;
}

.drawing-tool-section-title {
    /* font-family: OpenSansExtraBold,"Open Sans",Arial,sans-serif; */
    font-size: 0.75em;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

ul.drawing-tools-flex-display {
    justify-content: center;
    padding : 0;
}
.drawing-tools-flex-display {
    align-items: center;
    display: flex;
}

.drawing-tool:not(:last-child) {
    margin-right: 10px;
}

.drawing-tool {
    border-radius: 10px;
    cursor: pointer;
    display: block;
    height: 40px;
    width: 40px;
}

.drawing-tool {
    background-image: url("img/drawing-tools.svg");
    background-size: 640px 40px;
}

.drawing-tool {
    background-color: #e9edf0;
}

.drawing-tool-active {
    background-color: #002a50;
}


/*
 * Drawing tools
 */
li[id^=drawing-tool-point-] {
    background-position: 0 0;
}

li[id^=drawing-tool-point.drawing-tool-active] {
    background-position: -40px 0;
}

li[id^=drawing-tool-line-] {
    background-position: -80px 0;
}

li[id^=drawing-tool-line.drawing-tool-active-] {
    background-position: -120px 0;
}

li[id^=drawing-tool-polygon-] {
    background-position: -160px 0;
}

li[id^=drawing-tool-polygon.drawing-tool-active] {
    background-position: -200px 0;
}

li[id^=drawing-tool-text-] {
    background-position: -240px 0;
}

li[id^=drawing-tool-text.drawing-tool-active] {
    background-position: -280px 0;
}

/*
 * Editing tools
 */
li[id^=drawing-tool-edit-] {
    background-position: -320px 0;
}

li[id^=drawing-tool-edit.drawing-tool-active] {
    background-position: -360px 0;
}

li[id^=drawing-tool-display] {
    background-position: -400px 0;
}

li[id^=drawing-tool-display.drawing-tool-active] {
    background-position: -440px 0;
}

li[id^=drawing-tool-tooltip] {
    background-position: -480px 0;
}

li[id^=drawing-tool-tooltip.drawing-tool-active] {
    background-position: -520px 0;
}

li[id^=drawing-tool-remove] {
    background-position: -560px 0;
}

li[id^=drawing-tool-remove.drawing-tool-active] {
    background-position: -600px 0;
}

/* section d'export */

div.drawing-tools-flex-display {
    justify-content: space-between;
}

button[id^=drawing-export-] {
    background-position: 2px 0;
}

.drawing-button {
    margin: auto;
    font-size: 0.7em;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 15px;
    /* from site colors-chart */
    background-image: url("img/drawing-save.svg");
    background-size: 30px 120px;
}

.tool-form-submit {
    border: medium none;
    border-radius: 20px;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 0.9em;
    text-align: center;
    text-transform: uppercase;
    /* from site colors-chart */
    background-color: #00b798;
    color: #fff;
}

/*
 * popups
 */
.gp-label-div,
.gp-styling-div {
  position: relative;
  top: 17px;
  border-radius: 10px;
  font-size: 0.75em;
  background-color: #FFF;
  box-shadow: 0 0 5px #000;
  box-sizing: border-box;
}

.gp-label-div::before,
.gp-styling-div::before {
  content: "";
  position: absolute;
  border-bottom: 15px solid #FFF;
  border-right: 9px solid transparent;
  border-left: 10px solid transparent;
  top: -15px;
  margin-left: -10px;
  left: 50%;
}

.gp-textarea-att-label-style,
.gp-input-label-style {
  border: none;
}

.gp-textarea-att-label-style {
  width: 240px;
  height: 80px;
  resize: none;
}

.gp-input-measure-style {
  width: 240px;
  font-size: 0.75em;
  background-color: #FFF;
  text-align: center;
  border-radius: 10px;
}

.gp-textarea-att-label-style {
  display: block;
}

.gp-label-div .closer {
  border-top-right-radius: 10px;
  background-color: #FFF;
}

.gp-input-label-style {
  width: 180px;
}

/* Label popups */

.gp-label-div {
  padding: 10px;
}

/* Styling popup */

.gp-styling-div {
  width: 340px;
  padding: 20px;
  padding-top: 50px;
}

.gp-styling-div::after {
  content: "Modifier le style";
  position: absolute;
  display: block;
  width: 280px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  left: 30px;
  top: 0;
  border-bottom: 1px solid #BBB;
  font-variant: small-caps;
  font-size: 1.2em;
  font-weight: bold;
}

.gp-label-div .gp-styling-button:not([class*="closer"]) {
  display: block;
  margin: auto;
  margin-top: 10px;
}

.gp-styling-button:not([class*="closer"]) {
  display: inline-block;
  width: 140px;
  height: 24px;
  line-height: 24px;
  margin-top: 20px;
  border-radius: 12px;
  text-align: center;
  color: #FFF;
  background-color: #00B798;
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase;
  border: none;
}

.gp-styling-button:not([class*="closer"]):hover {
  color: #00B798;
  background-color: #EEF2F5;
}

.gp-styling-button:not([class*="closer"]) + .gp-styling-button:not([class*="closer"]) {
  margin-left: 20px;
}

.gp-label-div .closer,
.gp-styling-div .closer {
  cursor: pointer;
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../../img/close-emeraud.svg");
  background-size: 14px 14px;
  background-position: center;
}

.gp-styling-div ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.gp-styling-option {
  font-size: 11px;
  position: relative;
  line-height: 30px;
  padding: 0 20px;
}

.gp-styling-option input {
  display: block;
  position: absolute;
  height: 20px;
  top: 6px;
  cursor: pointer;
  padding: 0;
}

.gp-styling-option input[type="color"] {
  width: 30px;
  right: 70px;
  padding: 0;
  border: none;
  background: none;
}

.gp-styling-option input[type="text"] {
  width: 80px;
  right: 40px;
  padding: 0 5px;
  margin: none;
  background: none;
  border: 1px solid #808080;
  color: #0B6BA7;
}


/* Styling slider : general */
.gp-styling-option input[type="range"] {
  margin: 0;
  width: 80px;
  right: 40px;
}

.gp-styling-option input[type="range"]:focus {
  box-shadow: none;
  outline: none;
}

/* Styling slider : Chrome, Safari, Opera */

.gp-styling-option input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 1px;
  background-color: #808080;
}

.gp-styling-option input[type="range"]::-webkit-slider-thumb:before {
  position: absolute;
  top: 0;
  right: 50%;
  left: -200px;
  height: 1px;
  pointer-events: none;
}

.gp-styling-option input[type="range"]::-webkit-slider-thumb {
  width: 13px;
  height: 13px;
  -webkit-appearance: none;
  background-color: #0B6BA7;
  border: none;
  border-radius: 50%;
  position: relative;
  top: -6px;
}

/* Styling slider : Firefox */

.gp-styling-option input[type="range"]::-moz-range-track {
  width: 70px;
  height: 1px;
  background-color: #808080;
}

.gp-styling-option input[type="range"]::-moz-range-thumb {
  width: 13px;
  height: 13px;
  background-color: #0B6BA7;
  border: none;
  border-radius: 50%;
  box-shadow: 0;
  position: relative;
}

/* Styling slider : IE */

.gp-styling-option input[type="range"]::-ms-track {
  border: 0;
  border-color: transparent;
  border-radius: 0;
  border-width: 0;
  color: transparent;
  height: 1px;
  width: 70px;
  background-color: #808080;
}

.gp-styling-option input[type="range"]::-ms-fill-lower,
.gp-styling-option input[type="range"]::-ms-fill-upper {
  background: transparent;
  border-radius: 0;
}

.gp-styling-option input[type="range"]::-ms-thumb {
  width: 13px;
  height: 13px;
  background-color: #0B6BA7;
  border: none;
  border-radius: 50%;
}

.gp-styling-option input[type="range"]::-ms-tooltip {
  display: none;
}


.gp-styling-option .marker-input-radio {
  display: none;
}

.gp-styling-option .marker-label {
  display: inline-block;
  height: 32px;
  padding: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.gp-styling-option .marker-input-radio:checked + .marker-label {
  padding: 2px;
  background-color: rgba(0,183,152,0.5);
  border: 1px solid #002A50;
}

.gp-styling-option .marker-label img {
  height: 24px;
}
