/* SEARCH ENGINE */

[id^="GPsearchEngine-"] {
  top: 8px;
  left: 46px;
}

/* Showing/hiding search engine input */

[id^="GPshowSearchEngineOpen"] {
  background-image: url("img/GPsearchEngineOpen.png");
  transition: border-radius 0.5s ease-out 0s;
}

/* Simple search input */

[id^="GPsearchInput"] {
  height: 32px;
}

[id^="GPsearchInputReset"] {
  background-image: url("img/GPsearchEngineClose.png");
}

/* General panels */

[id^="GPgeocodeResultsClose"] {
  background-image: url("img/GPsearchEngineClose.png");
}

[id^="GPadvancedSearchClose"] {
  background-image: url("img/GPsearchEngineOpen.png");
  background-position: -50px 3px;
}

/* Advanced search picto */

[id^="GPshowAdvancedSearchOpen"] {
  background-image: url("img/GPsearchEngineOpen.png");
  background-position: -26px 0;
  transition: border-radius 0.5s ease-out 0s;
}

/* Autocomplete list / geocode results */

[id^="GPautoCompleteList"],
[id^="GPgeocodeResultsList"] {
  margin-left: 33px;
  box-shadow: 0 0 6px #000;
}

[id^="GPgeocodeResultsList"] {
  top: 40px;
  border-radius: 4px;
}
