/* Location */

.GPlocationStageFlexInput {
  margin-bottom: 5px; /*overwritten*/
}

/* Location form */

.GPlocationOriginPointerImg,
.GPlocationStageRemove,
div[id^=GPlocationStageAdd],
.GPlocationTransportImg {
  background-image: url("img/GPlocationOptions.png");
}
