/* REVERSE GEOCODING */

[id^="GPreverseGeocoding-"] {
  left: 10px;
}

/* Showing/hiding reverse geocoding panel */

[id^="GPshowReverseGeocodingOpen-"] {
  background-image: url("img/GPreverseGeocodingOpen.png");
}

/* General panels */

[id^="GPreverseGeocodingResultsClose"] {
  background-image: url("img/GPreverseGeocodingOpen.png");
}

[id^="GPreverseGeocodingPanel-"] {
    position: absolute;
    left: 8px;
}

[id^="GPreverseGeocodingPanelClose-"] {
  background-image: url("img/GPreverseGeocodingOpen.png");
}

/* Calc waiting */

.GPreverseGeocodingCalcWaitingContainerVisible,
.GPreverseGeocodingCalcWaitingContainerHidden {
  border-radius: 4px;
}

/* Results panel */

div[id^=GPreverseGeocodingReturnPicto-] {
  background-color: #366291;
  background-image: url("img/GPreverseGeocodingReturn.png");
}

.GPreverseGeocodedLocationHighlight {
    background-color: rgba(255,200,0,0.25);
    color: #222;
}
