/* Page */

@media screen and (max-width: 1024px)
{

    .sidebar{
      display: inherit;
    }

    .select-selected{
        background-color: #1d2127;
        border: none;
        min-width: 225px;
        padding: 15px 25px;
        font-size: 1.5em;
    }

    .select-items {
        min-width: 225px;
        font-size: 1.5em;
    }


    .select-selected:after{
        top: 24px;
        left: 240px;
        border: 9px solid transparent;
        border-color: #fff transparent transparent transparent;
    }

    #gauche{
        display: none;
    }

    .leaflet-control-zoom{
        display: none;
    }

    .btn{
        background-color: #1d2127;
        box-shadow: none;
        color: #abb4be;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
    }

    html {
        box-sizing: border-box;
        overflow: hidden;
    }

    *, 
    *:before, 
    *:after {
        box-sizing: inherit;
    }

    html, body {
        height: 100%;
    }

    body {
        background: #fff;
        font-family: 'Roboto', sans-serif;
        line-height: 1.5em;
        color: #888;
    }

    .container {
        position: relative;
        overflow-x: hidden;
    }

    /* Main */

    .main {
        display: table;
        height: 100%;
        position: relative;
        transition-property: transform;
    }

    .mask {
        display: table-row;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        pointer-events: none;
        transition-property: opacity;
    }

    header {
        background-color: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db 0%, #217dbb 100%);
        background-image: linear-gradient(to bottom, #3498db 0%, #217dbb 100%);
        padding: 100px 50px;
        text-align: center;
    }

    header h1 {
        color: #fff;
        font-size: 3em;
        line-height: 1;
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    }

    .content {
        margin: 50px 50px;
    }

    /* Sidebar */

    .sidebar {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        height: 100%;
        width: 370px;
        background: #1d2127;
        border-right: 3px solid #0f1114;
        overflow: hidden;
        -webkit-transform: translate3d(-370px, 0, 0);
        transform: translate3d(-370px, 0, 0);
        transition-property: transform;
        will-change: transform, -webkit-transform;
    }

    .sidebar, .sidebar a {
        color: #abb4be;
    }

    .nav {
        margin-top: 100px;
    }

    .nav-items {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav-title {
        display: block;
        padding: 10px 50px;
        text-transform: uppercase;
        font-weight: 600;
        color: #465162;
    }

    .nav-link {
        display: block;
        padding: 10px 50px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .nav-link:hover {
        background-color: #282d36;
    }

    .sidebar-separator {
        margin: 30px;
        height: 2px;
        background-color: #000;
        border-bottom: 1px solid #2b313a;
    }

    /* Hamburger Icon */

    .hamburger {
        display: block;
        position: fixed;
        left: 20px;
        top: 20px;
        cursor: pointer;
        z-index: 10;
        border-radius: 5px;
        background-color: #0B0B0B;
        border: 2px solid #ddd;
        padding: 10px 7px;
        width: 80px;
        transition-property: background-color, border-color, width, margin-bottom, margin-top;
        opacity: 0.9;
    }

    .bar {
        display: block;
        position: relative;
        background-color: #ddd;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
        transition-property: transform, opacity, background-color, width;
    }

    .bar:first-child {
        top: 0;
    }

    .bar:nth-child(2) { 
        opacity: 1;
    }

    .bar:last-child {
        bottom: 0;
    }

    .hamburger:hover {
        border-color: #fff;
    }

    .hamburger:hover .bar {
        background-color: #fff;
    }

    .bar + .bar {
        margin-top: 5px;
    }

    /* Animation */

    .main, .sidebar, .mask, .hamburger, .bar {
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(.694, .0482, .335, 1);
    }

    /* Show Sidebar */

    .show-sidebar .main {
        -webkit-transform: translate3d(370px, 0, 0);
        transform: translate3d(370px, 0, 0);
    }

    .show-sidebar .sidebar {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .show-sidebar .mask {
        opacity: 1;
        pointer-events: auto;
    }

    .show-sidebar .hamburger {
        background-color: #282d36;
        border-color: #0f1114;
        width: 50px;
        height: 46px;
    }

    .show-sidebar .bar {
        background-color: #abb4be;
        margin-bottom: 5px;
        margin-top: 1px;
    }

    .show-sidebar .bar:first-child {
        width: 120%;
        -webkit-transform: rotate(45deg) translate(5px, 8px);
        transform: rotate(45deg) translate(5px, 8px);
    }

    .show-sidebar .bar:nth-child(2) {
        opacity: 0;
    }

    .show-sidebar .bar:last-child {
        width: 120%;
        -webkit-transform: rotate(-45deg) translate(4px, -8px);
        transform: rotate(-45deg) translate(4px, -8px);
    }

}