html,body{
    padding: 0;
    /*background-image: url("http://maximumwallhd.com/wp-content/uploads/2016/12/fond-ecran-wallpaper-image-fonds-ecran-abstrait-noir-et-blanc-10.jpg");
    */
    background-color: #FFFFFF;
}

.sidebar{
  display: none;
}

#gauche > div{
  margin-bottom: 8px;

}

#radar{
  position: absolute;
  width: 40%;
  left: -50px;
  bottom: 250px;
  /*width: 200px;
  height: 200px;*/
}

#gauche {
  margin-left: 0px;
  position: absolute;
  padding: 4px;
  top: 80px;
}

.im_logo{
  max-width: 100px;
  max-height: 100px;
}


#logos > div{
  margin-left: 20px;
  margin-right: 40px;
}

div div {
 display: inline-block;
}

.btn, input[type=valider], input[name=distance_btn] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 53px;
  text-decoration: none;
  cursor: pointer;
  width: 200px;
  box-shadow: 1px 5px 5px green;
}

#logos{
  position: absolute;
  width: 500px;
  bottom: 0;
  z-index: 800;

}

#logos > div{
  display: inline-block;

  width: 50px;
  height: 50px;
  background-color: "black";
  z-index: 800;
}

input[name=distance_btn] {
  width: 200px;
}

.text_indication{
    border: none;
    font-size: 20px;
}

input[type=text] {
  color: black;
  padding: 8px;
  text-align: center;
  box-shadow: 2px 2px 5px DodgerBlue;
  width: 162px;
  background-color:#FFFFFF;
  font-family: "Arial";
}

input[type=button] {
  font-family: "Arial";
  z-index: 90;
  border-radius: 5px;
}

input[type=button]:hover{
  background-color: #008CBA;
  animation-duration: 1s;
  animation-name: color_change;
}

input[name=distance] {
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

input[name=prix] {
  border: 1px solid #ccc;
  border-radius: 4px;

}

.petite{
  font-family: "Arial";
  color: DodgerBlue;
  width: 400px;
  text-align: center;
}



.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  min-width: 167px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  overflow: auto;
  max-height: 500px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #575757; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: #b30000;*/ 
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


#map {
    border: 0px solid black;
    z-index: 0;
}

#map{
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    top:0;
}

#map_img{
  left:0;
  right:0;

  margin-left: auto;
  margin-right: auto;

  position: absolute;
  /*width: 40%;*/

  outline: 1px solid black;
  background: white;
  z-index: 55;
  /*height: 500px;*/
  display: none;
}

 #img_map{
  width: 100%;
  height: 100%;

 }


/* Animation */
#logos {
  animation-duration: 3s;
  animation-name: apparition;
}

@keyframes apparition {
  from {
    margin-left: 100%;
    width: 300%; 
    opacity: 0;
  }

  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes color_change {
  from {
    background-color: #4CAF50;
  }

  to {
    background-color: #008CBA;
  }
}