/* Widgets : general */

.GPwidget {
  position: absolute;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 13px;
  color: #333;
}

.GPwidget input[type='text'],
.GPwidget input[type='button'] {
  -webkit-appearance: none;
  color: #333333;
}

.GPwidget input[type="checkbox"] {
  display: none;
}

.GPwidget select {
  padding-left: 3px;
  border-radius: 3px;
}

.GPwidget form {
  margin-bottom: 0;
}

.GPwidget * {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

/* waiting */

.GPwaiting {
    background-image : url("img/waiting.gif");
    background-position : center center;
    background-repeat : no-repeat;
}

/* General panels */

.GPpanel {
  background-color: #FFF;
}

.GPpanelHeader {
  position: relative;
  width: 100%;
}

.GPpanelTitle {
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}

.GPpanelClose, .GPpanelReduce, .GPpanelInfo {
  position: absolute;
  cursor: pointer;
}

/* Showing/hiding advanced panels */

.GPshowAdvancedToolPicto {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.GPshowAdvancedToolOpen {
  position: absolute;
  display: block;
  box-sizing: border-box;
}

/* Flex inputs */

.GPflexInput {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

/* FIXME tempory hack with :not(.GPlocationOriginHidden) !
.GPflexInput > *:not(.GPlocationOriginHidden) */
.GPflexInput > * {
  display: block;
  height: 28px;
  line-height: 26px;
  border: 1px solid #999;
  border-radius: 0;
}

.GPflexInput *:not(:last-child) {
  border-right:none;
}

.GPflexInput *:first-child {
  border-radius: 3px 0 0 3px;
}

.GPflexInput *:last-child {
  border-radius: 0 3px 3px 0;
}

.GPflexInput > *:not(input) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.GPflexInput > input {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5px;
  min-width: 0;
}

.GPflexInput > select {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 7px;
}

.GPflexInput > label {
  background-color:  #F2F2F2;
  color: #666;
  padding-left: 7px;
  padding-right: 9px;
  cursor: pointer;
}

/* Particular inputs */

.GPinputSelect {
  display: block;
  height: 28px;
  line-height: 26px;
  margin: auto;
  border: 1px solid #999;
  color: #333;
  cursor: pointer;
}

input.GPinputSubmit {
  display: block;
  width: 80px;
  margin: auto;
  height: 28px;
  line-height: 26px;
  padding: 0;
  background: none;
  border: none;
  border-radius: 3px;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  color: #FFF;
  font-weight: bold;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}

input.GPinputSubmit:hover {
  opacity: 1;
}

/* Autocomplete/geocode results */

.GPautoCompleteList,
.GPadvancedAutoCompleteList {
  z-index: 2;
  display: none;
  position: absolute;
  max-height: 140px;
  background-color: #FFF;
  border: 1px solid #999;
  overflow-y: hidden;
}

.GPadvancedAutoCompleteList {
  width: calc(100% - 28px);
  border-top: none;
  font-size: 0.9em;
}

.GPautoCompleteProposal {
  width: 100%;
  height: 28px;
  line-height: 16px;
  padding: 6px 10px;
  color: #5E5E5E;
  font-size: 1.0em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  cursor: pointer;
}

.GPautoCompleteProposal:hover {
  color: #000000;
  background-color: #CEDBEF
}

/* Showing additional hidden options */

.GPshowMoreOptions {
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: all 0.5s ease-out 0s;
}

input[type="checkbox"]:checked + .GPshowMoreOptions {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  /* bottom: 90px; */
}
