/* ISOCHRON */

div[id^=GPisochron-] {
  top: 140px;
}

/* Showing/hiding mouse position panel */

label[id^=GPshowIsochronPicto] {
  display: inline-block;
}

input[id^=GPshowIsochron-] + label {
  display: block;
}

input[id^=GPshowIsochron-]:checked + label {
  display: none;
}

input[id^=GPshowIsochron-] + label + div {
  display: none;
}

input[id^=GPshowIsochron-]:checked + label + div {
  display: block;
}

/* General panels */

div[id^=GPisochronPanel-] {
  width: 280px;
}

/* Calc waiting */

.GPisochronCalcWaitingContainerVisible,
.GPisochronCalcWaitingContainerHidden {
  position: absolute;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.9);
  font-size: 1.5em;
  font-weight: bold;
  overflow: hidden;
}

.GPisochronCalcWaitingContainerVisible {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.GPisochronCalcWaitingContainerHidden {
  display: none;
}

.GPisochronCalcWaiting {
  margin: auto;
}

/* Isochron form */

form[id^=GPisochronForm] {
  padding: 15px;
}

.GPisochronFormMini {
  max-height: 58px;
  overflow: hidden;
}

.GPisochronFormMini div[id^="GPisochronReset-"],
.GPisochronFormMini label[id^="GPshowIsoExclusionsPicto-"] {
    display: none;
}

.GPisochronOriginVisible {
  display: block;
}

.GPisochronOriginHidden {
  display: none;
}

.GPisochronOriginPointerImg {
  width: 28px;
  background-color: #F2F2F2;
  cursor: pointer;
}

input[id^="GPisochronOriginPointer"] + .GPisochronOriginPointerImg {
  background-position: -1px -1px;
}

input[id^="GPisochronOriginPointer"]:checked + .GPisochronOriginPointerImg {
  background-position: -29px -1px;
}

input[id^=GPisochronSubmit] {
  margin-top: 5px;
}

/* Alternative choice */

div[id^=GPisochronChoice] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 160px;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 5px;
}

.GPisochronChoiceAlt input {
  display: none;
}

.GPisochronChoiceAltImg {
  display: block;
  width: 28px;
  height: 28px;
  margin: auto;
  cursor: pointer;
}

input[id^=GPisochronChoiceAltChron] + .GPisochronChoiceAltImg {
  background-position: -56px 0;
}

input[id^=GPisochronChoiceAltChron]:checked + .GPisochronChoiceAltImg {
  background-position: -84px 0;
}

input[id^=GPisochronChoiceAltDist] + .GPisochronChoiceAltImg {
  background-position: -112px 0;
}

input[id^=GPisochronChoiceAltDist]:checked + .GPisochronChoiceAltImg {
  background-position: -140px 0;
}

.GPisochronChoiceAlt span {
  cursor: pointer;
  display:block;
  color: #999;
}

.GPisochronValueHidden {
  display: none;
}

div[id^=GPisochronValueChron],
div[id^=GPisochronValueDist] {
  width: 220px;
  margin: auto;
}

/* Mode choice */

div[id^=GPisochronModeChoice] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0;
}

.GPisochronModeLabel {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

div[id^=GPisochronTransportChoice] input {
  display: none;
}

.GPisochronTransportImg {
  display: inline-block;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.GPisochronTransportImg:first-of-type {
    margin-left: 18px;
    margin-right: 10px;
}

input[id^=GPisochronTransportCar] + .GPisochronTransportImg {
  background-position: -168px 0;
}

input[id^=GPisochronTransportCar]:checked + .GPisochronTransportImg {
  background-position: -196px 0;
}

input[id^=GPisochronTransportPedestrian] + .GPisochronTransportImg {
  background-position: -224px 0;
}

input[id^=GPisochronTransportPedestrian]:checked + .GPisochronTransportImg {
  background-position: -252px 0;
}

select[id^=GPisochronDirectionSelect] {
  width: 80px;
}

/* Showing/hiding exclusions */

input[id^=GPshowIsoExclusions] {
  display: none;
}

.GPshowIsoExclusionsPicto {
  top: 250px;
  right: 0;
  transition: all 0.5s ease-out 0s;
}

input[id^=GPshowIsoExclusions] + label + div[id^=GPisoExclusions] {
  max-height: 0;
  opacity: 0;
  margin-bottom: 0;
}

input[id^=GPshowIsoExclusions]:checked + label + div[id^=GPisoExclusions] {
  display: block;
  max-height: 60px;
  opacity: 1;
  margin-bottom: 15px;
}

/* Exclusions */

div[id^=GPisoExclusions] {
  transition: max-height 0.5s ease-in-out 0.25s, opacity 0.5s ease-in-out 0.25s, margin 0.3s ease-in-out 0.25s;
  overflow: hidden;
}

.GPisoExclusionsLabel {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 16px;
}

.GPisoExclusionsOptions {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.GPisoExclusionsOption {
  display: block;
  height: 28px;
  line-height: 26px;
  color: #A77;
  background-color: #FEE;
  padding-left: 28px;
  padding-right: 5px;
  border: 1px solid #A77;
  border-radius: 3px;
  cursor: pointer;
}

input:checked + .GPisoExclusionsOption {
  background-color: #EFE;
  background-position: 0 -28px;
  color: #797;
  border: 1px solid #797;
}

/* Reset picto */
div[id^=GPisochronReset] {
  position: absolute;
  margin-top: 5px;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  opacity: 0.8;
  background-position: -281px 0;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}

div[id^=GPisochronReset]:hover {
  opacity: 1;
}
