/* Location */

/* Location form */

.GPlocationStageFlexInput {
  max-height: 28px;
  opacity: 1;
}

.GPlocationStageFlexInputHidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.GPlocationOriginVisible {
  display: block;
}

.GPlocationOriginHidden {
  display: none;
}

label.GPlocationOriginPointerImg[id*="GPlocationOriginPointerImg"] {
  width: 28px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #999;
}

input[id*="GPlocationOriginPointer"] + .GPlocationOriginPointerImg {
  background-position: -1px -1px;
}

input[id*="GPlocationOriginPointer"]:checked + .GPlocationOriginPointerImg {
  background-position: -29px -1px;
}

.GPlocationStageRemove,
div[id^=GPlocationStageAdd] {
  width: 28px;
  border: none;
  cursor: pointer;
}

.GPlocationStageRemove {
  background-position: -84px 0;
}

div[id^=GPlocationStageAdd] {
  background-position: -56px 0;
}
