/* Showing/hiding drawing panel */

label[id^=GPshowMeasureAzimuthPicto-] {
  display: inline-block;
}

input[id^=GPshowMeasureAzimuth-] + label {
  display: block;
}

input[id^=GPshowMeasureAzimuth-]:checked + label {
  display: block;
  background-color: rgba(0,60,136,0.5);
}

input[id^=GPshowMeasureAzimuth-] + label + div {
  display: block;
}

input[id^=GPshowMeasureAzimuth-]:checked + label + div {
  display: block;
}
