/* GET FEATURE INFO */

div[id^=GPgetFeatureInfo-] {
  top: 260px;
  left: 10px;
}

span[id^=GPgetFeatureInfoActivate],
span[id^=GPgetFeatureInfoDeactivate] {
  width: 26px;
  height: 26px;
  background-image: url("img/GPactivateGfi.png");
}

span[id^=GPgetFeatureInfoDeactivate] {
  background-position: -26px 0;
}

div[id^=GPgetFeatureInfo-] input[type="checkbox"]:not(:checked) + label[id^=GPgetFeatureInfoPicto] span[id^=GPgetFeatureInfoActivate] {
  opacity: 0.7;
}

div[id^=GPgetFeatureInfo-] input[type="checkbox"]:not(:checked) + label[id^=GPgetFeatureInfoPicto] span[id^=GPgetFeatureInfoDeactivate] {
  background-color: rgba(0,60,136,0.3);
}

div[id^=GPgetFeatureInfo-] input[type="checkbox"]:not(:checked) + label[id^=GPgetFeatureInfoPicto]:hover span[id^=GPgetFeatureInfoDeactivate] {
  background-color: rgba(0,60,136,0.4);
}
